@{
    ViewBag.Title = "fase";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script>
    function fn_rtIndex() {
        window.location = '/';
    }
</script>
<nav class="navbar navbar-light bg-light justify-content-between">
    <img class="navbar-brand" src="~/Content/image/pizarra21.png" style="width:130px;height:65px;cursor:pointer" />
    <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="CerrarOV()">Salir</button>
    </form>
</nav>
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <br />
            <h3>¡Hola! por favor elige una de las fases a desarrollar</h3>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 1</h5>
                    <p class="card-text">Fase 1 Prueba de entrada</p>
                    <a class="btn btn-primary text-white" id="btnFase1R" style="cursor:pointer;" onclick="fnAbrirFase(1);">Ir a la fase</a>
                    <a class="btn btn-primary text-white" id="btnFase1E" style="cursor:pointer;display:none;" onclick="fnVerFase(@ViewBag.VGidusuario,1);">Ver Fase</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 2</h5>
                    <p class="card-text">Mis espectativas</p>
                    <a class="btn btn-primary text-white" id="btnFase2R" style="cursor:pointer;" onclick="fnAbrirFase(2);">Ir a la fase</a>
                    <a class="btn btn-primary text-white" id="btnFase2E" style="cursor:pointer;display:none;" onclick="fnVerFase(@ViewBag.VGidusuario,2);">Ver Fase</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 3</h5>
                    <p class="card-text">Escuchar a los padres</p>
                    <a class="btn btn-primary text-white" id="btnFase3R" style="cursor:pointer;" onclick="fnAbrirFase(3);">Ir a la fase</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 4</h5>
                    <p class="card-text">Conocer mis habilidades</p>
                    <a class="btn btn-primary text-white" id="btnFase4R" style="cursor:pointer;" onclick="fnAbrirFase(4);">Ir a la fase</a>
                    <a class="btn btn-primary text-white" id="btnFase4E" style="cursor:pointer;display:none;" onclick="fnVerFase(@ViewBag.VGidusuario,4);">Ver Fase</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 5</h5>
                    <p class="card-text">Conocer mis estilos de aprendizaje</p>
                    <a class="btn btn-primary text-white" id="btnFase5R" style="cursor:pointer;" onclick="fnAbrirFase(5);">Ir a la fase</a>
                    <a class="btn btn-primary text-white" id="btnFase5E" style="cursor:pointer;display:none;" onclick="fnVerFase(@ViewBag.VGidusuario,5);">Ver Fase</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 6</h5>
                    <p class="card-text">Mi tipo de inteligencia</p>
                    <a class="btn btn-primary text-white" id="btnFase6R" style="cursor:pointer;" onclick="fnAbrirFase(6);">Ir a la fase</a>
                    <a class="btn btn-primary text-white" id="btnFase6E" style="cursor:pointer;display:none;" onclick="fnVerFase(@ViewBag.VGidusuario,6);">Ver Fase</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 7</h5>
                    <p class="card-text">Conociendo mi personalidad</p>
                    <a class="btn btn-primary text-white" id="btnFase7R" style="cursor:pointer;" onclick="fnAbrirFase(7);">Ir a la fase</a>
                    <a class="btn btn-primary text-white" id="btnFase7E" style="cursor:pointer;display:none;" onclick="fnVerFase(@ViewBag.VGidusuario,7);">Ver Fase</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 8</h5>
                    <p class="card-text">Entrevistas a profesionales</p>
                    <a class="btn btn-primary text-white" id="btn8" style="cursor:pointer;" onclick="fnAbrirFase(8)">Ir a la fase</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 9</h5>
                    <p class="card-text">Conociendo el mercado laboral</p>
                    <a class="btn btn-primary text-white" id="btn9" style="cursor:pointer;" onclick="fnAbrirFase(9)">Ir a la fase</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 10</h5>
                    <p class="card-text">Resultado final</p>
                    <a class="btn btn-primary text-white" id="btn10" style="cursor:pointer;" onclick="fnAbrirFase(10)">Ir a la fase</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/Content/image/imagen2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fase 11</h5>
                    <p class="card-text">Entrevista con Psicóloga</p>
                    <a class="btn btn-primary text-white" id="btn11" style="cursor:pointer;" onclick="fnAbrirFase(11)">Ir a la fase</a>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hddvgidrespuesta" value="@ViewBag.VGidrespuesta" />
<script>
    function redirectPostV2(location, nameparam1, value1) {
        var form = '';
        var rt = '<form id="rtmvc" action="' + location + '" method="POST">'
            + '<input type="hidden" name="' + nameparam1 + '" value="' + value1 + '">'
            + '</form>'
        var data = appendHtml(document.body, rt);
        document.getElementById("rtmvc").submit();

    }

    function fnAbrirFase(idfase) {
        var vidfase = "";
        console.log(idfase);
        switch (idfase) {
            case 1: vidfase = "faseUno"; break;
            case 2: vidfase = "faseDos"; break;
            case 3: vidfase = "faseTres"; break;
            case 4: vidfase = "faseCuatro"; break;
            case 5: vidfase = "faseCinco"; break;
            case 6: vidfase = "faseSeis"; break;
            case 7: vidfase = "faseSiete"; break;
            case 8: vidfase = "faseOcho"; break;
            case 9: vidfase = "faseNueve"; break;
            case 10: vidfase = "faseDiez"; break;
            case 11: vidfase = "faseOnce"; break;
            case 12: vidfase = "faseDoce"; break;
        }

        var idusuario = parseInt($('#hddvgidrespuesta').val());
        redirectPostV2(vgrutaprincipal + "actividad/" + vidfase, "idusuario", idusuario);
    }

    function CerrarOV() {
        $.ajax({
            url: vgrutaprincipal + "actividad/CerrarOV",
            cache: false,
            success: function () {
                window.location.href = vgrutaprincipal + "actividad/registro";
            },
            error: function () {
                console.log("No se ha podido obtener la información");
            }
        });
    }

    function fnListarFaseCompletada() {
        
        var idalumnoReg = $('#hddvgidrespuesta').val();
        $.ajax({
            url: vgrutaprincipal + "actividad/ListarFases",
            type: 'POST',
            data: {
                "widactividadFase": idalumnoReg
            },
            cache: false,
            success: function (respuesta) {

                $.each(respuesta.aaData, function (index, value) {
                    if (value.idactividad_alumno == 1) {
                        $('#btnFase1R').css('display', 'none');
                        $('#btnFase1E').css('display', 'block');
                    } else if (value.idactividad_alumno == 2) {
                        $('#btnFase2R').css('display', 'none');
                        $('#btnFase2E').css('display', 'block');
                    } else if (value.idactividad_alumno == 4) {
                        $('#btnFase4R').css('display', 'none');
                        $('#btnFase4E').css('display', 'block');
                    } else if (value.idactividad_alumno == 5) {
                        $('#btnFase5R').css('display', 'none');
                        $('#btnFase5E').css('display', 'block');
                    } else if (value.idactividad_alumno == 6) {
                        $('#btnFase6R').css('display', 'none');
                        $('#btnFase6E').css('display', 'block');
                    } else if (value.idactividad_alumno == 7) {
                        $('#btnFase7R').css('display', 'none');
                        $('#btnFase7E').css('display', 'block');
                    }

                });

            },
            error: function () {
                console.log("No se ha podido obtener la información");
            }
        });
    }

    $(document).ready(function () {
        fnListarFaseCompletada();
    });
</script>