@{
    /**/

    ViewBag.Title = "Pizarra 21";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;

    var gfechabuscar = '';
    var idcurso = 0;

</script>
<style>

    body {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 0px;
        cursor: pointer;
    }

    .fc-day:hover {
        background: #36a925;
        cursor: pointer;
    }

    @@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        .cardstyle {
            width: 12rem;
        }
    }

    @@media (min-width: 481px) and (max-width: 767px) {
        .cardstyle {
            width: 12rem;
        }
    }

    @@media (min-width: 320px) and (max-width: 480px) {
        .cardstyle {
            width: 21rem;
        }
    }
</style>

<div id="app" v-cloak>
    <v-app id="inspire">
        <v-toolbar>
            <img v-on:click="IndexPrincipal()" src="~/Content/image/pizarra21.png" height="60" width="120" style="margin-right:30px;cursor:pointer" />
            @*<v-flex xs12 sm6 md2>
                       <v-text-field label="Buscar cursos" required></v-text-field>
                </v-flex>
                <v-btn color="success">Buscar</v-btn>*@
            <v-spacer></v-spacer>
            @*<v-toolbar-items class="hidden-sm-and-down">
                    <v-btn>Link Two</v-btn>
                    <v-btn flat>Link Three</v-btn>
                </v-toolbar-items>*@
            <div class="text-xs-center">
                <v-menu :close-on-content-click="false" :nudge-width="200" offset-y>
                    <template v-slot:activator="{ on }">
                        <v-btn fab color="success"
                               dark depressed
                               v-on="on">
                            <i class="fas fa-user-circle fa-2x"></i>

                        </v-btn>
                    </template>
                    <v-card>
                        <v-list>
                            <v-list-tile avatar>
                                <v-list-tile-avatar>
                                    <img src="~/Content/image/elearning.png" alt="alumno">
                                </v-list-tile-avatar>

                                <v-list-tile-content>
                                    <v-list-tile-title>@ViewBag.Gnombre</v-list-tile-title>
                                    <v-list-tile-sub-title>@ViewBag.Gcorreo</v-list-tile-sub-title>
                                </v-list-tile-content>

                            </v-list-tile>
                        </v-list>
                        <v-divider></v-divider>
                        <v-list>
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-switch color="purple"></v-switch>
                                </v-list-tile-action>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-title>Mis cursos</v-list-tile-title>
                            </v-list-tile>
                        </v-list>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" flat v-on:click="CerrarSesion">Cerrar sesión</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-menu>
            </div>
        </v-toolbar>

        <div class="row text-center">
            <div class="col-md-12 text-center">
                <br />
                <h1 class="h1" style="font-family: sans-serif">Hola! @ViewBag.Gnombre, selecciona un curso para ver las semanas</h1>
            </div>
        </div>

        <v-layout>
            <v-container grid-list-md grid-list-xs>
                <v-layout row wrap class="justify-center text-center">
                    <v-flex lg11 xs11 md11 sm11 xl11 class="p-0">
                        <div class="row text-center align-center pr-3">

                            @if (ViewBag.loenGradoConteo == 1 && ViewBag.loenGrado[0].idcurso == 0)
                            {
                                <div class="col-md-3 text-center">
                                    <h4 class="h4"> No hay cursos para este día</h4>
                                </div>
                            }
                            else
                            {
                                foreach (var ent in ViewBag.loenGrado)
                                {
                                    if (ent.srutaimagen == "-" && ent.idcurso > 0)
                                    {
                                        <div class="col-md-3 text-center pb-2">
                                            <div class="card" style="width: 18rem;display:block !important">
                                                <img class="card-img-top" src="~/Content/image/acercade1.jpg" style="width:45%;text-align:center">
                                                <div class="card-body">
                                                    <p class="card-text">Curso de @ent.snombre</p>
                                                    <button class="btn btn-lg btn-outline-success" onclick="AbrirModal(@ent.idcurso)">Ir a @ent.snombre</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (ent.idcurso > 0)
                                    {
                                        <div class="col-md-3 text-center pb-2">
                                            <div class="card" style="width: 18rem;display:block !important">
                                                <img class="card-img-top" src="@ent.srutaimagen" alt="Card image cap" style="width:70%;text-align:center">
                                                <div class="card-body">
                                                    <p class="card-text">Curso de @ent.snombre</p>
                                                    <button class="btn btn-lg btn-outline-success" onclick="AbrirModal(@ent.idcurso)">Ir al Curso</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }

                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-layout>
    </v-app>
</div>


<div class="modal fade" id="modalcurso" tabindex="-1" role="dialog" aria-labelledby="modalcursoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecciona una semana</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="row text-center align-center pr-2">

                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">
                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(1)">Semana 1</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">
                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(2)">Semana 2</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">
                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(3)">Semana 3</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">
                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(4)">Semana 4</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">
                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(5)">Semana 5</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">
                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(6)">Semana 6</button>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row text-center align-center pr-3">

                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">
                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(7)">Semana 7</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">
                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(8)">Semana 8</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(9)">Semana 9</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(10)">Semana 10</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(11)">Semana 11</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(12)">Semana 12</button>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row text-center align-center pr-3">

                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(13)">Semana 13</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(14)">Semana 14</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(15)">Semana 15</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(16)">Semana 16</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(17)">Semana 17</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(18)">Semana 18</button>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row text-center align-center pr-3">

                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(19)">Semana 19</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(20)">Semana 20</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(21)">Semana 21</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">

                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(22)">Semana 22</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">
                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(23)">Semana 23</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 text-md-center pb-2">
                        <div class="card cardstyle" style="display:block !important">
                            <div class="card-body">
                                <button class="btn btn-lg btn-outline-success" onclick="AbrirCurso(24)">Semana 24</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/src/main/Principal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
    <script>

        function AbrirModal(pidcurso) {
            idcurso = pidcurso;
            $('#modalcurso').modal('show');
        }
    </script>
}
